@page
@model CodeAid.UI.Pages.Member.Interest.IndexModel

<div class="container align-content-center">


    <h1>Your interest</h1>
    <a class="btn btn-primary my-3" href="/member/interest/add">Add interest</a>
    @if (!Model.EmptyList)
    {
        <div class="row" style="gap: 32px">
            @foreach (var interest in Model.UserInterests)
            {
                <div class="col-2">
                    <div class="card text-center mt-3" style="width: 14rem;">
                        <div class="card-body p-2" style="background-color: #CACAEA">
                            <h2 class="card-title">@interest.Name</h2>
                            @if (@interest.Threads.Count > 0)
                            {
                                <p class="card-text my-2">@interest.Threads.Count questions</p>
                            }
                            else if (@interest.Threads == null || @interest.Threads.Count == 0)
                            {
                                <p class="card-text my-2">0 questions</p>
                            }
                            <div class="btn-group btn-outline-light">
                                @if (interest.Threads == null)
                                {
                                    <button class="btn editBtn">
                                        <a asp-page="/Member/Interest/Edit" asp-route-id="@interest.Id">Edit</a>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn editBtn" disabled>
                                        <a class="">Edit</a>
                                    </button>
                                }
                                <form method="post">
                                    <button class="btn editBtn" type="submit" asp-route-id="@interest.Id">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @if (Model.EmptyList)
    {
        <div class="text-center mt-5">
            <h1>Oops!</h1>
            <h2>No data found</h2>
        </div>
        <div class="text-center">
            <img class="mx-auto d-block" style="max-width: 40%" src="/images/no-data.png" alt="no data image" />
        </div>
    }
</div>


