@page
@model CodeAid.UI.Pages.QuestionModel
@{
}

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />*@
<div class="container">
    <div class="main-body p-0">
        <div class="inner-wrapper">
            <!-- Inner sidebar -->
            <div class="inner-sidebar">
                <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                    <div class="card mb-2">
                        <div class="card-body p-2 p-sm-3">
                            <div class="media forum-item">
                                <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="/images/icons8-cat-profile-100.png" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                <div class="media-body">
                                    @if (!@Model.Question.User.Deleted)
                                    {
                                    <h5 data-toggle="collapse" data-target=".forum-content" class="text-body">@Model.Question.User.Username</h5>
                                    }
                                    else
                                    {
                                    <h5 data-toggle="collapse" data-target=".forum-content" class="text-body">[Deleted user]</h5>
                                    }
                                    <h3>
                                        @Model.Question.QuestionTitle
                                    </h3>
                                    <p class="text-secondary">
                                        @Model.Question.Question
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <form method="post">
                            <input asp-for="@Model.Question.Id" hidden />
                            <input asp-for="@Model.Message.Message" />
                            <button class="btn btn-primary" type="submit">Reply</button>
                        </form>
                    </div>
                </div>
            </div>


            @if (@Model.Question.Messages != null && @Model.Question.Messages.Count > 0)
            {
                @foreach (var qm in Model.Question.Messages)
                {
                    @if (!qm.User.Deleted)
                    {
                        @if (qm.User.Username == @Model.CurrentUser.UserName)
                        {
                            <div class="card-body">
                                <div class="alert alert-primary" style="color:black; background-color: #DBE7FF;" role="alert">
                                    <p>anwsered by @qm.User.Username @qm.PostDate.ToLongDateString()</p>
                                    <p>@qm.Message</p>
                                    <a class="btn btn-primary" asp-page="/member/message/index">Modify</a>
                                </div>
                            </div>
                        }
                        else if (qm.User.Username != @Model.CurrentUser.UserName)
                        {
                            <div class="card-body">
                                <div class="alert alert-primary" style="background-color: white" role="alert">
                                    <p>anwsered by @qm.User.Username @qm.PostDate.ToLongDateString()</p>
                                    <p>@qm.Message</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-body">
                            <div class="alert alert-primary" style="background-color: white" role="alert">
                                <p>anwsered by @qm.User.Username @qm.PostDate.ToLongDateString()</p>
                                <p>@qm.Message</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>



